// Global
@import "./variables.scss";
@import "./modifiers.scss";
@import "./typography.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/ui-components.scss";
@import "./components/features.scss";
@import "./components/restaurant-list.scss";
@import "./components/favorite-icon.scss";
@import "./components/menu.scss";

// CSS Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-font);
	color: var(--text-main-color);
	list-style: none;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

main {
	background-color: var(--grey-color-l1);

	.location-banner {
		padding: var(--padding-s);
		background-color: var(--grey-color-l2);
		box-shadow: var(--box-shadow-m);

		span {
			color: var(--grey-color-d1);
			font-weight: 500;
		}
	}

	.hero {
		padding: 2rem;

		h1 {
			@media (width > 768px) {
				font-size: 2.5rem;
				margin-bottom: 2rem;
			}
		}
	}
}
