footer {
	background-color: var(--grey-color-d1);
	padding: 1.375rem 1.6rem;

	.small-logo-container {
		max-width: 138px;
		margin-bottom: 1rem;
		filter: invert(1);
	}

	ul {
		li,
		span {
			color: #fff;
		}
	}
}
