@import "../animations/loader.animation.scss";

.loading-screen {
	background-color: #fff;
	opacity: 0.9;
	position: fixed;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	width: 100vw;
	animation: fade-out 1.5s 500ms ease-in-out forwards;

	.loader {
		position: relative;
		width: 100px;
		height: 100px;
		.loader-icon {
			position: absolute;

			&.knife-icon {
				transform: rotate(-90deg);
				animation: knife-animation 1.5s 500ms ease-in-out forwards;
			}

			&.fork-icon {
				animation: fork-animation 1.5s 500ms ease-in-out forwards;
			}
		}
	}
}
