.restaurant-banner {
	position: relative;
	.transition-block {
		position: absolute;
		bottom: -1px;
		left: 0;
		height: 30px;
		width: 100%;
		background-color: var(--grey-color-l1);
		border-radius: 2rem 2rem 0 0;
	}
}

.menu {
	background-color: var(--grey-color-l1);
	padding: 0 1rem 2.5rem;

	.menu-topbar {
		position: relative;
		h1 {
			font-family: var(--secondary-font);
			font-size: 1.75rem;
		}
		.favorite-icon {
			right: 5px;
			bottom: 22px;
		}
	}

	.menu-sub-section {
		padding-bottom: 2.5rem;

		h2 {
			font-size: 1rem;
			font-weight: 300;
			text-transform: uppercase;

			&::after {
				content: "";
				display: block;
				height: 3px;
				width: 40px;
				background-color: var(--tertiary-color);
				margin: 0.3rem 0;
			}
		}

		.dish {
			box-shadow: var(--box-shadow-l);
			border-radius: 1rem;
			overflow: hidden;
			width: 100%;
			background-color: #fff;

			&:hover,
			&:focus-visible {
				.dish-slide {
					width: 100%;
				}
			}

			.dish-slide {
				width: 120%;
				transition: width 300ms ease-in-out;

				.dish-price {
					background-color: #fff;
					color: var(--grey-color-d1);
					display: flex;
					align-items: flex-end;
					padding: 1rem;
				}

				.dish-content {
					padding: 1rem 0 1rem 1rem;
					width: 100%;
					overflow: hidden;

					h3,
					.dish-detail {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						display: block;
						width: 100%;
					}

					.dish-detail {
						font-weight: 300;
					}
				}

				.check-button {
					min-width: 60px;
				}
			}
		}
	}
}
