.restaurant-banner {
	position: relative;
	height: 250px;

	@media (width > 1024px) {
		height: 400px;
	}

	&.menilmontant {
		background: url("../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
		background-size: cover;
	}

	&.charonne {
		background: url("../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
		background-size: cover;
	}

	&.cite-rouge {
		background: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
		background-size: cover;
	}

	&.folie-mericourt {
		background: url("../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
		background-size: cover;
	}

	.transition-block {
		position: absolute;
		bottom: -1px;
		height: 30px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		background-color: var(--grey-color-l1);
		border-radius: 2rem 2rem 0 0;
		max-width: var(--max-width);

		@media (width > 1024px) {
			height: 40px;
		}
	}
}

.menu {
	background-color: var(--grey-color-l1);
	padding: 0 1rem 2.5rem;
	max-width: var(--max-width);
	margin: 0 auto;

	.menu-topbar {
		position: relative;
		min-width: 320px;
		align-self: center;

		h1 {
			font-family: var(--secondary-font);
			font-size: 1.75rem;
			font-weight: 400;
		}
		.favorite-icon {
			right: 5px;
			bottom: 22px;
		}
	}

	.menu-sub-section {
		padding-bottom: 2.5rem;
		opacity: 0;

		@media (width > 768px) {
			width: 634px;
			margin: 0 auto;
		}

		h2 {
			font-size: 1rem;
			font-weight: 300;
			text-transform: uppercase;

			&::after {
				content: "";
				display: block;
				height: 3px;
				width: 40px;
				background-color: var(--tertiary-color);
				margin: 0.3rem 0;
			}
		}

		.dish {
			box-shadow: var(--box-shadow-l);
			border-radius: 1rem;
			overflow: hidden;
			width: 100%;
			background-color: #fff;

			&:hover,
			&:focus-visible {
				.dish-slide {
					width: 100%;
				}
			}

			.dish-slide {
				width: calc(100% + 70px);
				transition: width 300ms ease-in-out;
				justify-content: space-between;

				.dish-price {
					background: #fff;
					color: var(--grey-color-d1);
					display: flex;
					align-items: flex-end;
					padding: 1rem 1.5rem;
				}

				.dish-content {
					padding: 1rem 0 1rem 1rem;
					width: 80%;
					overflow: hidden;

					h3,
					.dish-detail {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						display: block;
						width: 100%;
					}

					.dish-detail {
						font-weight: 300;
					}
				}

				.check-button {
					min-width: 60px;
				}
			}
		}
	}
}
