.fade-in-one {
	animation: fade-in 0.5s ease-in-out 0.5s forwards;
}

.fade-in-two {
	animation: fade-in 0.5s ease-in-out 1s forwards;
}

.fade-in-three {
	animation: fade-in 0.5s ease-in-out 1.5s forwards;
}

@keyframes fade-in {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
